.item {
  display: block;
  align-items: center;
  border: 1px solid burlywood;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.online {
  color: green;
  margin-bottom: 15px;
}

.offline {
  color: red;
  margin-bottom: 15px;
}

.avatar {
  margin-right: 1px;
}

.name {
  font-weight: 500;
}

.statusText {
  margin: 0;
  font-size: 0.8em;
}